/* small css reset */

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: beige;
    line-height: 1.5;
}

form {
    margin: 2rem auto;
    width: 250px;
}

form input, form button {
    padding: 0.5rem;
}

.myBox {
    background-color: burlywood;
    margin: 2rem auto;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icon {
    width: 150px;
    height: 150px;
    background-color: cadetblue;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
