/* small css reset */

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    /* background-color: #42CAC6; */
    background-color: #000000;
    line-height: 1.5;
}

form {
    margin: 2rem auto;
    width: 250px;
}

form input, form button {
    padding: 0.5rem;
}

.myBox {
    /* background-color: #02A5C6; */
    background-color: #c4c4c4;
    margin: 2rem auto;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icon {
    width: 200px;
    height: 200px;
    /* background-color: #007BC8; */
    background-color: #5a5a5a;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
